<nav class="mt-3">
  <!-- Badge RH -->
  <div class="sidebar-role-badge hr-badge mb-4 text-center">
    <i class="fa-solid fa-people-roof"></i>
    <span class="ms-2 fw-bold">Directeur Ressources Humaines</span>
  </div>

  <!-- Général -->
  <div class="nav-section">Général</div>
  <a routerLink="/hr/dashboard" routerLinkActive="active" class="nav-item">
    <i class="fa-solid fa-chart-pie icon"></i> Tableau de bord personnalisé
  </a>

  <!-- Recrutement -->
  <div class="nav-section mt-4">Recrutement</div>
  <a routerLink="/hr/candidates" routerLinkActive="active" class="nav-item">
    <i class="fa-solid fa-user-graduate icon"></i> Candidatures
  </a>

  <!-- Gestion RH -->
  <div class="nav-section mt-4">Gestion RH</div>
  <a routerLink="/hr/leaves" routerLinkActive="active" class="nav-item">
    <i class="fa-solid fa-calendar-xmark icon"></i> Congés
  </a>
  <a routerLink="/hr/trainings" routerLinkActive="active" class="nav-item">
    <i class="fa-solid fa-graduation-cap icon"></i> Formations
  </a>
  <a routerLink="/hr/performance" routerLinkActive="active" class="nav-item">
    <i class="fa-solid fa-chart-bar icon"></i> Évaluations
  </a>
  <a routerLink="/hr/participations" routerLinkActive="active" class="nav-item">
    <i class="fa-solid fa-star icon"></i> Points & Participation
  </a>

  <!-- Communication -->
  <div class="nav-section mt-4">Communication</div>

  <a routerLink="/hr/events" routerLinkActive="active" class="nav-item">
    <i class="fa-solid fa-calendar-day icon"></i> Événements
  </a>

  <!-- Paramètres -->
  <div class="nav-section mt-4">Paramètres</div>
  <a routerLink="/hr/profile" routerLinkActive="active" class="nav-item">
    <i class="fa-solid fa-id-badge icon"></i> Mon profil
  </a>

</nav>
