<nav>
  <div class="sidebar-role-badge candidate-badge">
    <i class="fa-solid fa-user-graduate"></i>
    <span>Candidat</span>
  </div>

  <div class="nav-section">Espace Carrière</div>

  <a routerLink="/candidate-dashboard" routerLinkActive="active" class="nav-item">
    <i class="fa-solid fa-chart-pie icon"></i> Tableau de bord
  </a>

  <a routerLink="/jobs" routerLinkActive="active" class="nav-item">
    <i class="fa-solid fa-briefcase icon"></i> Liste des offres
  </a>

  <a routerLink="/postulations" routerLinkActive="active" class="nav-item">
    <i class="fa-solid fa-paper-plane icon"></i> Mes postulations
  </a>

  <a routerLink="/profile" routerLinkActive="active" class="nav-item">
    <i class="fa-solid fa-user icon"></i> Mon profil
  </a>
</nav>
